<% include partials/header %>

<div class='jumbotron'>
  <h1>Welcome to Rediddit<small> /riː /dɪd: /ɪt/</small></h1>
  <h4>I (poorly) redid Reddit</h4>
</div>
<a class='btn btn-lg btn-success' href='/subrediddits/new'>Create New Subrediddit</a>

<% include partials/footer %>