<% include partials/header %>

<div class='jumbotron'>
  <h1>Welcome to Rediddit<small> /riː /dɪd: /ɪt/</small></h1>
  <h4>I (poorly) redid Reddit</h4>
</div>
<div class='btn btn-lrg btn-success'>
  <a href='/subrediddits/new'>Create New Subrediddit</a>
</div>

<% include partials/footer %>