<% include partials/header %>
<% include partials/sub_header %>

<div class='container'>
  <h2>Post to <%= '/r/' + subName %></h2>
  <form method='POST' action=<%= '/r/' + subName %>>
    <div class='form-group'>
      <label for='title'>Title</label>
      <input class='form-control' type='text' name='title'>
    </div>
    <div class='form-group'>
      <label for='body'>Text</label>
      <textarea class='form-control' name='body' rows=4></textarea>
    </div>
    <div class='form-group'>
      <input class='btn btn-primary' type='submit' value='POST'>
    </div>
  </form>
</div>

<% include partials/footer %>